/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */



.navbar-brand{
  background-image: url(../images/logo.svg);
  background-repeat: no-repeat;
  background-position: center center;
  width: 150px;
  height: 40px;
  background-size: contain;
  padding: 0;
}