@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    /*color: #484a4c;*/
    color: #616161;
}

footer {
    font-size: 14px;
}

footer a {
    text-decoration: underline;
    font-size: 14px;
}

.content ul {
    margin-left: 1rem;
}

.content ul li {
    margin-bottom: 5px;
}

.iti {
    display: block;
}

.table {
    color: #616161;
}

.table th {
    text-transform: uppercase;
    font-weight: 500;
}

.table b,
.table strong {
    font-weight: 500;
}

.table th,
.table td {
    border: 0;
    vertical-align: middle;
}

.table td:first-child,
.table th:first-child {
    border-right: 1px solid #dee2e6;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #e9ecef;
}

.bot-phone {
    position: relative;
    width: 290px;
    height: 595px;
}

.bot-phone video {
    margin-top: 17px;
}

@media (min-width: 768px) {
    .bot-phone:after{
        background-repeat: no-repeat;
        content: '';
        position: absolute;
        top: 40px;
        left: -173px;
        width: 240px;
        height: 312px;
        background-image: url(../images/ibot.png);
        background-size: contain;
        z-index: 9;
    }
}
.bot-phone:before {
    background-repeat: no-repeat;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../images/phone.png);
    background-size: contain;
    z-index: 8;
}

.contact-info a {
    color: var(--secondary);
    font-size: 24px;
}

.contact-info {

}

.contact-info a i {
    margin-right: 15px;
    color: var(--dark);
}

.contact-info a:hover,
.contact-info a:focus {
    text-decoration: none;
}

.navbar-brand {
    background-image: url(../images/logo.svg);
    background-repeat: no-repeat;
    background-position: center center;
    width: 150px;
    height: 40px;
    background-size: contain;
    padding: 0;
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff;
}

.owl-carousel {

    position: relative;
}

p {
    font-weight: 300;
    line-height: 30px;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
    font-family: "Roboto Slab";

}

h2, .h2 {
    font-weight: 300;
}
.text-gradient{
    background: rgb(249, 150, 0);
    background: -moz-linear-gradient(145deg, rgba(249, 150, 0, 1) 0%, rgba(249, 88, 0, 1) 100%);
    background: -webkit-linear-gradient(145deg, rgba(249, 150, 0, 1) 0%, rgba(249, 88, 0, 1) 100%);
    background: linear-gradient(145deg, rgba(249, 150, 0, 1) 0%, rgba(249, 88, 0, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f99600", endColorstr="#f95800", GradientType=1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
h1, .h1 {
    font-size: 28px;
    font-weight: 500;

}
.btn{
    border-radius: 1.25rem;
}
.bg-warning{
    background-color: #f95800;
}
.text-warning{
    color:#f95800;
}
.btn-warning{
    background-color: #f95800;
    border-color:#f95800;
    color:#fff;
}
.btn-warning:not(:disabled):not(.disabled):active:focus,
.btn-warning:not(:disabled):not(.disabled).active:focus,
.show > .btn-warning.dropdown-toggle:focus,
.btn-warning:focus,
.btn-warning.focus{
    box-shadow:none;
}


.btn-warning:hover,
.btn-warning:focus,
.btn-warning:not(:disabled):not(.disabled):active,
.btn-warning:not(:disabled):not(.disabled).active,
.show > .btn-warning.dropdown-toggle{
    background-color: #f99600;
    border-color:#f99600;
    color:#fff;
}
#capability {
    position: relative;

}

#clients > div {
    -webkit-box-shadow: inset 0 0 60px 0 rgba(0, 0, 0, .2);
    -moz-box-shadow: inset 0 0 60px 0 rgba(0, 0, 0, .2);
    box-shadow: inset 0 0 60px 0 rgba(0, 0, 0, .2)
}
.form-control{
    border:0;
    border-radius: 0;
    border-bottom:2px solid #ced4da;
    background-color: transparent;
}
.form-control:focus,
.form-control.focus{
    box-shadow:none;
}
#capability:before {
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    content: '';
    background-image: url(../images/bg.png);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: contain;
    opacity: 0.7;
}

#capability i {
    background: rgb(249, 150, 0);
    background: -moz-linear-gradient(145deg, rgba(249, 150, 0, 1) 0%, rgba(249, 88, 0, 1) 100%);
    background: -webkit-linear-gradient(145deg, rgba(249, 150, 0, 1) 0%, rgba(249, 88, 0, 1) 100%);
    background: linear-gradient(145deg, rgba(249, 150, 0, 1) 0%, rgba(249, 88, 0, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f99600", endColorstr="#f95800", GradientType=1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.radius i {
    text-shadow: -4px -4px 0px #fff;
    background: repeating-linear-gradient(45deg, #f95800, rgba(0, 0, 0, 0) 1px, rgba(0, 0, 0, 0) 2px, rgba(0, 0, 0, 0) 3px);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

a {
    color: var(--info);
}

.text-purple,
.contact-info a i.text-purple {
    color: var(--indigo);
}

@media (min-width: 768px) {
    .owl-carousel {
        padding: 0 100px;
    }

    h1, .h1 {
        font-size: 2.5rem;
    }
}

.radius {
    border-radius: 1rem;
}

.owl-carousel .owl-nav {
    position: relative;
    top: -150px;
    height: 100%;
    width: 100%;
}

.owl-carousel .owl-nav button.owl-next {
    position: absolute;
    right: -50px;
}

.owl-carousel .owl-nav button.owl-prev {
    position: absolute;
    left: -50px;
    font-size: 40px;
}

.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev,
.owl-carousel button.owl-dot {

}

.owl-carousel .owl-dots {
    margin: 0 auto;
    text-align: center;
}

button:focus {
    outline: none;
}

.owl-carousel .owl-dots .owl-dot {
    border: 1px solid var(--dark);
    width: 20px;
    height: 20px;
    margin: 5px;
    display: inline-block;
    border-radius: 50%;
}

.owl-carousel .owl-dots .owl-dot.active {
    background: var(--dark);
}
